html(lang='en')
    head
        meta(charset='utf-8')
        title Homepage
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            H1(class="text-center mb-4") Cars Table 
            a(href="/update-cars" class="btn btn-primary mb-4") Add to this table
            table(class="table")
                tr
                    th Name 
                    th Color 
                    th Doors 
                    th Horsepower 
                    th Production date
                    th Manufacturer
                    th Action
                if error_message
                    tr
                        td(colspan="99")=error_message
                each car in cars
                    tr
                        td=car.properties.name
                        td=car.properties.color || ''
                        td=car.properties.nombre_de_portes || '' 
                        td=car.properties.horsepower || ''
                        td=car.properties.production_date && car.properties.production_date.split('T')[0] || ''
                        td=car.properties.manufacturer || ''
                        td 
                            a(href="/update-cars?carId=" + car.id) Edit
